<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>DemoAng</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUploadedFilesServlet</display-name>
    <servlet-name>GetUploadedFilesServlet</servlet-name>
    <servlet-class>GetUploadedFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUploadedFilesServlet</servlet-name>
    <url-pattern>/GetUploadedFilesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CsvToJsonServlet</display-name>
    <servlet-name>CsvToJsonServlet</servlet-name>
    <servlet-class>CsvToJsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CsvToJsonServlet</servlet-name>
    <url-pattern>/CsvToJsonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CsvToXlsxServlet</display-name>
    <servlet-name>CsvToXlsxServlet</servlet-name>
    <servlet-class>CsvToXlsxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CsvToXlsxServlet</servlet-name>
    <url-pattern>/CsvToXlsxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsonToCsvServlet</display-name>
    <servlet-name>JsonToCsvServlet</servlet-name>
    <servlet-class>JsonToCsvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonToCsvServlet</servlet-name>
    <url-pattern>/JsonToCsvServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsonToXlsxServlet</display-name>
    <servlet-name>JsonToXlsxServlet</servlet-name>
    <servlet-class>JsonToXlsxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonToXlsxServlet</servlet-name>
    <url-pattern>/JsonToXlsxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XlsxToCsvServlet</display-name>
    <servlet-name>XlsxToCsvServlet</servlet-name>
    <servlet-class>XlsxToCsvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XlsxToCsvServlet</servlet-name>
    <url-pattern>/XlsxToCsvServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XlsxToJsonServlet</display-name>
    <servlet-name>XlsxToJsonServlet</servlet-name>
    <servlet-class>XlsxToJsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XlsxToJsonServlet</servlet-name>
    <url-pattern>/XlsxToJsonServlet</url-pattern>
  </servlet-mapping>
</web-app>